# ignore the tex files of the paper
tex/*.aux
tex/*.bbl
tex/*.blg
tex/*.log
tex/paper.pdf
tex/*.gz

# ignore build files
build_output/*

# ignore test outputs
scripts/output.csv

# ignore CLion files
*.idea*
*cmake-build-debug*

# ignore stackdumps
*stackdump*
